<div class="container">

            

  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/one.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/two.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/three.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/four.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/five.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/burger/six.png" alt="Бургеры">
                  
             </div>
             <div class="product-title">
                  <h4>Кинг</h4>
                  <p>
                      Два фирменных бифштекса,
                      <!-- и два ломтика сыра, в состав входят фирменный
                      соус, листовой салат, огурчики, свежий
                      лук — и все это на подрумяненной булочке с
                      кунжутной посыпкой. -->
                  </p>
             </div>
             <div class="product-description">
              <div class="">
                  12 руб<br>
                  300-350 гр
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
              </div>
             </div>
            
         </div> <!--product-block-->
  <!-------------------------------------------->
        
              </div> <!--container-->
          
      