<div class="container">

            

  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/bar.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Барбекю</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/ches.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Чесночный</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/gor.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Горчичный</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/kar.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Карри</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/ket.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Кетчуп</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/kisslad.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Кисло-сладкий</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/souce/sir.png" alt="Соус">  
             </div>
             <div class="product-title">
                  <h4>Сырный</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
              </div> <!--container-->