.page {
  border: 1px solid red; 
  
  
  position: relative;
  
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}


/* Header */
.header {
  border: 1px solid red;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;   
}

.header-logo {
  border: 1px solid red;
}


.header-img {
  width: 120px;
}

.header-nav {
  border: 1px solid red;
  font-size: 30px;
}



.header-link {
  border: 1px solid red;
  padding: 0 15px; 
  border-radius: 5px;  
  color: #0079ae;  
}
.header-link:hover,
.header-link:focus

{
  background: whitesmoke;
  text-decoration: none;
  outline: whitesmoke;
}



 .carousel-img {
  width: 100%;
} 

















/* Main */
.menu {
  font-size: 21px;
  border: 1px solid black;
  margin-top: 5px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between; 
  background:#0079ae;
  height: 100;
  border-radius: 5px;
  position: sticky;
  top:0;
  align-items: center;
}






.menu-list {
  border: 1px solid rgb(209, 206, 22);
  padding: 0 20px;
  border-radius: 5px; 
  color: white;  
}

.menu-list:hover,
.menu-list:focus
{
  background: red;
  color: white;
  text-decoration: none;
  outline: none;
  
  
}



/* Тут нужно досмотреть */
.cart:hover{
  background: red;
  text-decoration: none;
  color: white;
}

/* Footer*/
.footer {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  color: blue; 
  align-items: center;
  padding: 0 20px;  
 
  
}

.footer-address {
  border: 1px solid red;
  padding-top: 15px;
  display: flex;
  
  
  

  
  
}

.contacts {
  font-weight: 600;
}


.footer-contact {
text-decoration: none;
color: #0000FF;




}

.social {
  border: 1px solid red;
  font-size: 30px;
  

}

.footer-social {  
  border: 1px solid red;
  
  
}

.footer-social i{
  color: #0088CC;
  
  
}


.footer-social:hover i {
  color: #1532d4;
  transform: scale(1.1);
}






