<div class="container">

            

  <!-------------------------------------------->           
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/bonaq.png" alt="Напитки-бонаква">  
             </div>
             <div class="product-title">
                  <h4>Банаква 0.5л</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/fanta.png" alt="Фанта">  
             </div>
             <div class="product-title">
                  <h4>Фанта 1л</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/FUZE_TEA.png" alt="Фьюз">  
             </div>
             <div class="product-title">
                  <h4>Fuze 1л</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/kola.png" alt="Напитки">  
             </div>
             <div class="product-title">
                  <h4>Kola</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/kola-zero.png" alt="Кола-Зеро">  
             </div>
             <div class="product-title">
                  <h4>Kola-zero</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/rich.png" alt="Рич">  
             </div>
             <div class="product-title">
                  <h4>Rich 1л</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/sprite.png" alt="Спрайт">  
             </div>
             <div class="product-title">
                  <h4>Sprite 1л</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
         <div class="product-block">
             <div class="product-img">
                  <img src="./assets/image/drink/tea.png" alt="Чай">  
             </div>
             <div class="product-title">
                  <h4>Чай с клюквой 0.4</h4>
             </div>
              <div class="btn-cart">
                  <input type="button" value="В корзину">
             </div>
         </div> <!--product-block-->
  <!-------------------------------------------->    
              </div> <!--container-->