<div class="container">



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/5syrov.png" alt="Пицца 5Сыров">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input [routerLink]="['/cart']" type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/Aziya.png" alt="Пицца Азия">
        </div>
        <div class="product-title">
            <h4>Сытная</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/carbonara.png" alt="Пицца Карбонара">
        </div>
        <div class="product-title">
            <h4>Грибная</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/firmennaya.png" alt="Пицца Фирменная">
        </div>
        <div class="product-title">
            <h4>Дьябола</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/margarita.png" alt="Пицца Маргарита">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/pepperoni.png" alt="Пицца Пепперони">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/pepperoni_bluz.png" alt="Пицца Пепперони-блюз">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->



    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/toskana.png" alt="Пицца Тоскана">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div class="product-description-type">
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->

    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/tsyplenok__dominator_small-min.png" alt="Пицца Цыпленок-доминатор">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->

    <!-------------------------------------------->
    <div class="product-block">
        <div class="product-img">
            <img src="./assets/image/pizza/vetchina_i_griby.png" alt="Пицца Ветчина-грибы">
        </div>
        <div class="product-title">
            <h4>Фермерская</h4>
            <p>Томатный соус, Пепперони, Сыр моцарелла</p>
        </div>
        <div class="product-description">
            <div>
                <select>
                    <option>26</option>
                    <option>30</option>
                    <option>36</option>
                </select>
                <div>
                    15 руб<br>
                    600-700 гр
                </div>
            </div>
            <div>
                <select>
                    <option>Классическое</option>
                    <option>Тонкое</option>
                </select>
                <div class="btn-cart">
                    <input type="button" value="В корзину">
                </div>
            </div>
        </div>
        <!--product-description-->
    </div>
    <!--product-block-->
    <!-------------------------------------------->
</div>