<div class="container">

            

         
  <div class="product-block">
      <div class="product-img">
           <img src="./assets/image/potato/potato.png" alt="Картошка">  
      </div>
      <div class="product-title">
           <h4>Картошка фри 200гр</h4>
      </div>
       <div class="btn-cart">
           <input type="button" value="В корзину">
      </div>
  </div> <!--product-block-->
<!-------------------------------------------->  
  <div class="product-block">
      <div class="product-img">
           <img src="./assets/image/potato/potato-vil.png" alt="Картошка">  
      </div>
      <div class="product-title">
           <h4>Картошка по-деревенски 250гр</h4>
      </div>
       <div class="btn-cart">
           <input type="button" value="В корзину">
      </div>
  </div> <!--product-block-->

<!-------------------------------------------->    
       </div> <!--container-->